TogepiRobot/config.py
TogepiRobot/*.session
TogepiRobot/*.session-journal
TogepiRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
TogepiRobot/modules/helper_funcs/temp.txt
TogepiRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
TogepiRobot.session-journal
updates.txt
*.exe
